[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = https://github.com/sontek/rope-vim.git
[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = https://github.com/ujihisa/neco-ghc.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ghc-mod"]
	path = bundle/ghc-mod
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "bundle/vim2hs"]
	path = bundle/vim2hs
	url = https://github.com/dag/vim2hs.git
[submodule "bundle/vim-numbertoggle"]
	path = bundle/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/autotag"]
	path = bundle/autotag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-distinguished"]
	path = bundle/vim-distinguished
	url = git://github.com/Lokaltog/vim-distinguished.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/easytags"]
	path = bundle/easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
